{% extends 'base.html' %}
{% block title %}
    ForAttention
{% endblock %}

{% block content %}
<br>
<h1>Lista ze stronami, które mają coś nie tak</h1>
<br>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">URL NAME</th>
      <th scope="col">STATUS CODE</th>
      <th scope="col">DATA TIME</th>
      <th scope="col">ERROR_CODE</th>
      <th scope="col">LINK SITE</th>
    </tr>
  </thead>
      {% for data in iten %}
  <tbody>
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.url_name }}</td>
      <td>{{ data.status_code }}</td>
      <td>{{ data.data_time }}</td>
      <td>{{ data.error_code }}</td>
      <td><a href="{{ data.url_name }}" target="_blank"><button type="button" class="btn btn-outline-success">Przejdź do strony</button></a></td>
    </tr>
  </tbody>
      {% endfor %}
</table>
{% endblock %}



{% block contentt %}

<br>
<h1>Lista ze stronami, które są ok</h1>
<br>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">URL NAME</th>
      <th scope="col">STATUS CODE</th>
      <th scope="col">DATA TIME</th>
      <th scope="col">ERROR_CODE</th>
        <th scope="col">LINK SITE</th>
    </tr>
  </thead>
      {% for data in item %}
  <tbody>
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.url_name }}</td>
      <td>{{ data.status_code }}</td>
      <td>{{ data.data_time }}</td>
      <td>{{ data.error_code }}</td>
      <td><a href="{{ data.url_name }}" target="_blank"><button type="button" class="btn btn-outline-success">Przejdź do strony</button></a></td>
    </tr>
  </tbody>
      {% endfor %}
</table>
{% endblock %}



